{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<a name="pagecontent" id="pagecontent"></a>
{% section 'collection-template' %}
{% section 'image-reviews' %}
{% section 'collection-list' %}
{% section 'featured-products-gallery' %}
{% section 'collection-image-text' %}
{% section 'recently-viewed' %}